/*.rar
/test_akshare.py
/test_fixed.py
/test_pdf_export.py
/test_pe_pb.py
/venv
/.venv
**/__pycache__/
*.py[cod]
*.log
*.tmp
*.bak
*.swp
*.swo
*.sqlite
*.sqlite3
*.db
*.dmp
*.dump
*.pid
*.lock
*.DS_Store
# 环境变量文件
.env
/.cursor
/openspec
TradEnv/

env_example.txt
risk_data_debug_output.txt
